<div *ngFor="let x of podaciPrica">
  <div class="back">
    <div class="gornjiDio">
      <h1>{{x.naslov}}</h1>
    </div>
    <h3> Read our full story </h3>
    <div class="pomjeri">
    <div class="opis">
      <img src="{{getSliku(x.id)}}" style="height: 50%; width: 100%">
      <p>{{x.opis}}</p>
    </div>
    <div class="detalji">
      <h4>We will need <b>{{x.novcaniCilj}}$</b>  to make our story happen.</h4>
      <div class="progress" style="height: 5%">
        <div class="progress-bar" role="progressbar" style="width:25%; background-color: black" aria-valuemin="0" aria-valuenow="25"
             aria-valuemax="100">{{ukupnoPrica}}%</div>
      </div>
      <br>
      <h4>You can find us in <b>{{x.lokacija}}</b></h4>
      <img src="https://joomly.net/frontend/web/images/googlemap/map.png" style="height: 50%; width: 100%">
      <br> <br>
      <button *ngIf="informacije().autentifikacijaToken.korisnickinalog.isKorisnik" type="submit" class="dugme" style="border-radius: 30px; border: none; font-weight:  bold; color: white; background-color:#EE6C4DFF " (click)="openDonation(x)"> DONATE NOW!</button> <br><br>
      <button type="submit" class="dugme"
              *ngIf="informacije().autentifikacijaToken.korisnickinalog.isAdmin"
              (click)="obrisiPricu(x.id)">Obriši priču</button>
    </div>
    </div>
  </div>
</div>
