
body{
  display: flex;
}

#nazad{
  height:2%;
  width:10%;
  font-weight: bold;
  border:none;
  background-color:inherit;
  font-size:40px;
  color:white;
  box-shadow: 5px 5px 5px 5px cornflowerblue;
}
.back{
  background-color: #99C1D9;
  padding: 20px;
  height:100%;
  border-radius: 30px;
}
h1{
  color: white;
  font-weight: bold;
  font-family: Montserrat;
  text-align: center;
}
h3{
  font-weight: bold;
  color: white;
  font-family: Montserrat;
}

.opis{
  color: white;
  font-family: Montserrat;
  max-width: 40%;
  background-color:  rgba(205,205,205,0.5);
  padding: 2%;
  border-radius: 30px;
  margin-bottom: 10%;
}
.opis p{
  text-align: center;
}
.detalji{
  background-color: rgba(205,205,205,0.5);
  border-radius: 30px;
  max-width: 60%;
  margin-left: 3%;
  padding: 2%;
  margin-bottom: 10%;
}
.detalji h4{
  color: white;
  font-family: Montserrat;
}
.pomjeri{
  display: flex;
}
.dugme{
  background-color: black;
  font-weight: bold;
  color: white;
  margin-left: 70%;
  padding: 2%;
}


.progress {
  height: 5%;
  font-size:20px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.progress-bar {
  height: 100%;
  border-radius: 10px;
  background-color: #4CAF50;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}


