@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

app-root{
  height: 100%;
}
body {
  font-family: Montserrat;
  font-size: 18px;
  background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjIxMWJhdGNoMTEta2liLTMwNC1jaGFyaXR5XzIuanBn.jpg?s=W1GJFDeuEvSSIB1z_lCs4JP7ptGo_cecHQGi5OM7DaA");
  /*background-color: #E0FBFC;*/
  backdrop-filter: blur(9px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}
a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 30% auto;

  a {
    color: white;
  }
}

section {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
}
