.pozadina{
  background-color: #99C1D9;
  margin:5px;
  padding: 20px;
  height:100%;
  border-radius: 30px;
}
.error{
    margin-top: -20px;
    color:red ;
    padding: .1em;
    display: inline-block;
    font-size: .9em;
    margin-bottom: 20px;
  font-weight: bold;
}
