.kontejner{
/*  background-color: #99C1D9;*/
  margin:5px;
  height:100%;
  border-radius: 30px;
}
.slika{
  height: 100%;
}
#nazad{
  height:2%;
  width:10%;
  font-weight: bold;
  border:none;
  background-color:inherit;
  font-size:40px;
  color:white;
  box-shadow: 5px 5px 5px 5px cornflowerblue;
}
.donacija{
  background-color: #3D5A80;
  margin-left: 20%;
  margin-right: 20%;
  width: 60% ;
  border-radius: 30px;
  padding: 2%;
}

h3{
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 3%;
}
.odabirKartice{
  border-radius: 30px;
  border: white solid 1px;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.kartica{
  width: 100%;
}
.desno{
  height:100%;
  width:60%;
  float:right;
  border:2px solid black;
}



