.kontejner{
/*  background-color: #99C1D9;*/
  margin:5px;
  height:100%;
  border-radius: 30px;
}
.button-34 {
  background: #FFFFFF;
  border-radius: 999px;
  box-shadow: #4169E1 0 10px 20px -10px;
  box-sizing: border-box;
  color: #4169E1;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.slika{
  height: 100%;
}
.donacija{
  background-color: #3D5A80;
  margin-left: 20%;
  margin-right: 20%;
  width: 60% ;
  border-radius: 30px;
  padding: 2%;
}

h3{
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 3%;
}
.odabirKartice{
  border-radius: 30px;
  border: white solid 1px;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.kartica{
  width: 100%;
}
.desno{
  height:100%;
  width:60%;
  float:right;
  border:2px solid black;
}



