
<div class="pozadina">
    <p style="font-weight: bold; font-family: Montserrat; font-size: 70px; text-align: center"> Welcome!</p>
    <p style="font-weight: bold; font-family: Montserrat; font-size: 30px; text-align: center"> To see stories and be able to donate, please log in.</p>
  <div class="pomjeri">
    <div class="opis">
      <p style="font-weight: bold; font-family: Montserrat; font-size: 40px; text-align: center">We are glad that you decided to donate through our site!</p>
      <p>Over 100 milion successfully closed stories.</p>
      <!--<img url="https://images.squarespace-cdn.com/content/v1/5cf81d221fa0100001acb02f/1587601583715-NXXBUKW8ST27K3PJ0EJI/DSC_0432_edit.jpg" style="height: 50%; width: 100%">-->
    </div>
    <div class="detalji">
      <h4 style="color: black; font-family: 'Bradley Hand ITC'; font-weight: bold; text-align: center">Share money, love and good energy to help ones who need it.</h4>

    </div>
  </div>
  <button style="width: fit-content; border: 1px solid gray; border-radius: 30px; background-color: black; color: white; font-size: 30px; margin-top: 2%; margin-left: 35%; padding: 1%" (click)="logirajse()">  Login here!  </button>
</div>
