<h1> Log in</h1>

<form [formGroup]="LogInForma" (ngSubmit)="onSubmit()">

<a *ngIf="success" routerLink="/about"> tekst</a>

  <label>
    Username:
    <input type="text" formControlName="username">
    <div *ngIf="submitted && LogInForma.controls.username.errors" class="error">
      <div *ngIf="LogInForma.controls.username.errors?.['required']"> You have to enter username! </div>
    </div>
  </label>

  <label>
    Password:
    <input type="text" formControlName="password">
    <div *ngIf="submitted && LogInForma.controls.password.errors" class="error">
      <div *ngIf="LogInForma.controls.password.errors?.['required']"> You have to enter password! </div>
    </div>
  </label>

  <button type="click" routerLink="/stories" class="cta">Log in </button>
</form>



