<h1> Log in</h1>

<form [formGroup]="LogInForma" (ngSubmit)="onSubmit()">



  <label>
    Username:
    <input type="text" [(ngModel)]="this.username "formControlName="username">
    <div *ngIf="submitted && LogInForma.controls.username.errors" class="error">
      <div *ngIf="LogInForma.controls.username.errors?.['required']"> You have to enter username! </div>
    </div>
  </label>

  <label>
    Password:
    <input type="password" [(ngModel)]="this.password" formControlName="password">
    <div *ngIf="submitted && LogInForma.controls.password.errors" class="error">
      <div *ngIf="LogInForma.controls.password.errors?.['required']"> You have to enter password! </div>
    </div>
  </label>

  <button type="click" class="cta" (click)="onSubmit()">Log in </button>
</form>



