

<div class ="container">
<div *ngFor="let x of prica_podaci" class="card" style="width: 18rem;">
  <img src="{{getSliku(x)}}"
       class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{x.naslov}}</h5>
    <p class="card-text">{{x.opis}}</p>
    <a href="" class="btn btn-dark">Details</a>
  </div>
</div>
</div>

<button class="btn btn-dark" (click)="otvoriFormu=true">Add your story</button>

<div *ngIf="otvoriFormu" class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">New story</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="otvoriFormu=false"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Title</label>
          <input class="form-control" placeholder="Title" [(ngModel)]="prica.naslov">
        </div>
        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea class="form-control" rows="4" placeholder="Description">
            </textarea>
        </div>



        <div class="mb-3">
          <label for="formFile" class="form-label">Upload your picture</label>
          <input class="form-control" type="file" id="formFile" accept="image/png">
        </div>


          <div class="mb-3">
            <label class="form-label">Money goal</label>
            <input type="number" class="form-control" placeholder="500" >
          </div>

        <div class="mb-3">
          <label class="form-label">Valuta</label>
          <select class="form-control" >
            <option *ngFor="let x of valutaPodaci" [value]="x.id">{{x.skracenica}}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Location</label>
          <input class="form-control" placeholder="Enter your adress" >
        </div>

        <div class="mb-3">
          <label class="form-label">Category</label>
          <select class="form-control" >
            <option *ngFor="let x of kategorijaPodaci" [value]="x.id">{{x.naziv}}</option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="otvoriFormu=false">Close</button>
        <button type="button" class="btn btn-dark" >Save </button>
      </div>

    </div>
  </div>
</div>
