.kontejner{
  background-color: rgba(0,0,0,0.567);
  margin:5px;
  padding: 20px;
  max-height:100%;
  max-width:100%;
}
h1{
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: Montserrat;
}
h3{
  margin-top:5%;
  font-weight: bold;
}
h4{
  font-weight: bold;
  color: green;
}
.kartica {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width:100%;
  height:10%;
  margin: auto;
  text-align: center;
  background-color: white;
  display: inline-block;
}








