<header>
  <div class="container" *ngIf="!loginInfo().isLogiran">
    <a routerLink="/" class="logo">GoDonate</a>
    <nav>
      <ul>
        <li> <a routerLink="/">Home</a></li>
        <li> <a routerLink="/about">About</a></li>
        <li> <a routerLink="/logIn">LogIn</a></li>
      </ul>
    </nav>
  </div>


  <div class="container" *ngIf="loginInfo().isLogiran">
    <a routerLink="/" class="logo">GoDonate</a>
    <nav>
      <ul>
        <li> <a routerLink="/">Home</a></li>
        <li> <a routerLink="/about">About</a></li>
      </ul>
    </nav>
  </div>
</header>




