<header>
  <div class="container" *ngIf="!loginInfo().isLogiran">
    <a class="logo">GoDonate</a>
    <nav>
      <ul>
        <li> <a routerLink="/">Home</a></li>
        <li> <a routerLink="/about">About</a></li>
        <li> <a routerLink="/logIn">Sign up</a></li>

      </ul>
    </nav>
  </div>


  <div class="container" *ngIf="loginInfo().isLogiran">
    <a class="logo">GoDonate</a>
    <nav>
      <ul>
        <li><a style="color: white" (click)="logOut()">Log Out</a></li>
        <li><a style="color: white" routerLink="/userProfile" >User profile</a></li>
      </ul>
    </nav>
  </div>
</header>




